fastapi
python-dotenv
uvicorn
langchain
langchain-core
langchain-ollama
langchain-openai
langchain-community==0.3.31
langchain-text-splitters
ollama
pydantic
qdrant-client
python-multipart
requests
tiktoken
pymysql
sqlalchemy
faiss-cpu
aiofiles
pandas
openpyxl
cryptography
openai
python-dotenv
azure-identity
datasets
accelerate>=0.26.0
pypdf
pyyaml
docx2txt
